body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #fff;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 25px;
}

.input-group {
    margin-bottom: 15px;
    position: relative;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    color: #555;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 2px solid #8d8c8c;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    outline: none;

    &:focus {
         border: 2px solid #5f5d5d;
         transition: all .3s ease;
    }
   
}

.input-group #visibility-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    right: 10px;
    cursor: pointer;
}

.form-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #333;
    margin-bottom: 15px;
}

.form-options.remember-me-container {
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: start;
    gap: 5px;
}

.form-options .remember-me-container input {
    width: 15px;
    height: 15px;
}

.form-options #forgot-password {
    display: inline;
    text-decoration: none;
    color: inherit;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.login-btn {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: #0056b3;
}